:root{
  --ungu:#6c63ff;
  --ungu-soft:#a29bfe;
  --bg:#f6f5ff;
  --card:#ffffff;
}

body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background:var(--bg);
}

/* HERO */
.hero{
  background:linear-gradient(135deg,var(--ungu),var(--ungu-soft));
  color:white;
  text-align:center;
  padding:70px 20px;
}

.hero h1{
  font-size:40px;
  margin:0;
}

.hero p{
  opacity:0.9;
}

/* NAVBAR */
.nav{
  display:flex;
  justify-content:center;
  gap:10px;
  background:white;
  padding:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  position:sticky;
  top:0;
}

.nav a{
  text-decoration:none;
  color:#555;
  padding:10px 18px;
  border-radius:10px;
  font-weight:600;
  transition:0.3s;
}

.nav a:hover{
  background:var(--ungu-soft);
  color:white;
}

.active{
  background:var(--ungu);
  color:white !important;
}

/* CONTENT */
.container{
  padding:30px;
}

.card{
  background:var(--card);
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

/* BUTTON */
.btn{
  display:inline-block;
  background:linear-gradient(135deg,#6c63ff,#a29bfe);
  color:white;
  padding:12px 18px;
  border-radius:10px;
  text-decoration:none;
  margin-top:10px;
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.05);
}

h2{
  color:var(--ungu);
}